{% extends 'shared/base.html' %}

{% block title %}Добре дошли | Агенция Гледачи{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 text-center">
    <h1 class="display-5 fw-bold">Професионална грижа в град Русе</h1>
    <p class="fs-4">Вашата доверена агенция за гледачи на деца, възрастни и домашни любимци.</p>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card h-100 p-4">
                <h3>Трябва ти гледач?</h3>
                <p>Потърси в нашият списък с гледачи</p>
                <a href="{% url 'sitters-list' %}" class="btn btn-primary btn-lg px-4 gap-3">Намери гледач</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 p-4">
                <h3>Търсиш си работа?</h3>
                <p>Присъедини се към екипа ни</p>
                <a href="{% url 'apply' %}" class="btn btn-outline-secondary btn-lg px-4">Кандидатствай тук</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}